<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.pickle">



    <application
        android:name=".Pickle"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.main.EmptyActivity"></activity>
        <activity android:name=".activity.main.FirebaseSearchActivity"
            android:windowSoftInputMode="adjustNothing|stateAlwaysVisible">

        </activity>
        <activity android:name=".activity.main.options.CartViewActivity" >

        </activity>
        <activity android:name=".activity.main.options.AddNewItemActivity" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity android:name=".activity.Login.CustomerDetailActivity"></activity>
        <activity android:name=".activity.Splash.SplashActivity"></activity>
        <activity android:name=".activity.Login.OtpActivity"></activity>
        <activity android:name=".activity.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.Login.LoginActivity" />
        <activity android:name=".activity.Splash.OnBoardingActivity" />

        <meta-data
            android:name="firebase_crashlytics_collection_enabled"
            android:value="false" />
        <meta-data
            android:name="io.fabric.ApiKey"
            tools:node="remove"/>

    </application>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />

    <uses-permission android:name="android.permission.READ_CONTACTS" />

</manifest>